
.s_LnPv-oEmb
  background: hsl(0, 0%, 91.6%);
  margin: 9px 25px;
  padding: 19px 0 9px;
  &.s_LnPv-Err
    padding: 12px 18px;
    color: hsl(0, 0%, 15%);
    .s_LnPv_L-Err
      margin-left: 5px;
    code
      background: inherit;
      color: hsl(0, 0%, 23%);
    // So won't span the whole page — it's not so interesting, since broken.
    display: inline-block;

.s_LnPv-oEmb iframe
  margin: 0 auto;
  display: block;
  width: calc(100% - 30px);
  border: none;
  // A good start? Gets corrected quickly by this iframe srcdoc=.. script: [OEMBHGHT].
  height: 220px;

.s_LnPv_ViewAt
  display: block;
  margin: 7px auto 7px;  // already 10px extra margin-top: [oemb_extr_height]
  text-align: center;



.dw-ob-youtube iframe
  width: 100%;
  max-width: 480px;
  height: 270px;

.dw-ob-image > a
  float: left;  // makes Utterscroll work on any whitespace to the right of the image
  max-width: 100%;

aside.onebox
  margin: 1.5em 0 9px;
  + p,
  + ol,
  + ul,
  + div
    margin-top: 1.5em

// vim: fdm=marker et ts=2 sw=2 tw=0 list
