
.s_Ob-oEmb iframe
  margin: 0 auto;
  display: block;
  width: calc(100% - 30px);
  border: none;

.s_Ob_Lnk  // 22
  display: block;
  margin: 15px auto 17px;
  text-align: center;



.dw-ob-youtube iframe
  width: 100%;
  max-width: 480px;
  height: 270px;

.dw-ob-image > a
  float: left;  // makes Utterscroll work on any whitespace to the right of the image
  max-width: 100%;

aside.onebox
  margin: 1.5em 0 9px;
  + p,
  + ol,
  + ul,
  + div
    margin-top: 1.5em

// vim: fdm=marker et ts=2 sw=2 tw=0 list
